body {
  background: #8C928F;
}

.poppy {
  align-self: flex-end;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.bubble {
  background: white;
  align-self: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-left: -120px;
}

.bubble:before {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  position: absolute;
  border-right-color: white;
  border-width: 10px;
  left: -20px;
  top: 170px;

}

/*

.banner {
  // cursor: pointer;
  // padding: 2px 400px;
  // max-width: 350px;
  // border: none;
  // border-radius: 2px;
  // padding: 20px 10px;
  // background-color: #FDFDFD;
  // box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);
  background-image: image_url('poppy_entier.jpg');
  height: 90vh;
  position: relative;

}

.banner-content {
  background-color: #e3dfe0;
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  top: 31%;
  left: 45%;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);

}

.banner-content:before {
  content: '';
  height: 61px;
  width: 83px;
  position: absolute;
  right: 102px;
  top: 105px;
  background-color: #e3dfe0;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);

}

.btn-primary {
  border-radius: 20px;
  padding-bottom: 13px;
  border-bottom-width: 14px;
  margin-bottom: 24px;
  text-align: center;

}

a:hover {
  text-decoration: none;
}
*/
