@import url('https://fonts.googleapis.com/css?family=Nunito');

h1 {
 font-size: 110px;
 margin-bottom: -91px;
 margin-top: 22px;
 color : #ca111a;
 font-family: 'Nunito', sans-serif;
 opacity: 0.8;
}

.lien {
  color: black;
  &:hover{
    background: none;
    opacity: 0.7;
    color: #ca111a;
  }
}

h2 {
font-size: 50px;
 margin-bottom: -131px;
 margin-top: 92px;
 color : black;
 font-family: 'Nunito', sans-serif;
 opacity: 0.8;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

.btn-primary{
  background-color: #ca111a;
  color: white;
  border-color : #ca111a;
  border-radius : 10px;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);
  margin-left: 8px;
  &:hover{
    background-color: #ca111a;
    opacity: 0.7;
  }
}

.bubble-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


a:hover {
 background-color: #ca111a;
 border-color: grey ;
}

a:visited {
 background-color: #ca111a;
 border-color: grey ;
}

body {
  background: #8C928F;
}

.poppy {
  align-self: flex-end;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.bubble {
  background: #efeded;
  align-self: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-left: -120px;
  box-shadow: 0 55px 75px 29px rgba(0,0,0,0.16);
  font-family: 'Nunito', sans-serif;
}

.bubble:before {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  position: absolute;
  border-right-color: white;
  border-width: 10px;
  left: -20px;
  top: 170px;
  font-family: 'Nunito', sans-serif;

}

/*

.banner {
  // cursor: pointer;
  // padding: 2px 400px;
  // max-width: 350px;
  // border: none;
  // border-radius: 2px;
  // padding: 20px 10px;
  // background-color: #FDFDFD;
  // box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);
  background-image: image_url('poppy_entier.jpg');
  height: 90vh;
  position: relative;

}

.banner-content {
  background-color: #e3dfe0;
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  top: 31%;
  left: 45%;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);

}

.banner-content:before {
  content: '';
  height: 61px;
  width: 83px;
  position: absolute;
  right: 102px;
  top: 105px;
  background-color: #e3dfe0;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.16);

}

.btn-primary {
  border-radius: 20px;
  padding-bottom: 13px;
  border-bottom-width: 14px;
  margin-bottom: 24px;
  text-align: center;

}

a:hover {
  text-decoration: none;
}
*/
