<div class="banner">
  <div class="banner-content">
    <div><%= link_to "Bouger la tête", "http://10.0.0.2:80.80/primitive/head_idle_motion", class: "btn btn-primary" %></div>
    <div><%= link_to "Danser", "#", class: "btn btn-primary" %></div>
    <div><%= link_to "Je sais plus", "#", class: "btn btn-primary" %></div>
  </div>
</div>
