<div class="flex">
  <div class="poppy">
    <img src="http://i.imgur.com/nsDXAA3.png">
  </div>
  <div class="bubble">
    <p>
      <a href="http://10.0.0.2:80.80/primitive/head_idle_motion/start.json" class="btn btn-primary btn-lg" class="btn btn-primary btn-lg">
        Start your head
      </a>
      <a href="http://10.0.0.2:80.80/primitive/head_idle_motion/stop.json" class="btn btn-primary btn-lg" class="btn btn-primary btn-lg">
        Stop
      </a>
    </p>
    <p>
      <a href="http://10.0.0.2:80.80/primitive/dance_beat_motion/start.json" class="btn btn-primary btn-lg">
        Start Dancing
      </a>
      <a href="http://10.0.0.2:80.80/primitive/dance_beat_motion/stop.json" class="btn btn-primary btn-lg">
        Stop
      </a>
    </p>
    <p>
      <a href="http://10.0.0.2:80.80/primitive/upper_body_idle_motion/start.json" class="btn btn-primary btn-lg">
        Start your body
      </a>
      <a href="http://10.0.0.2:80.80/primitive/upper_body_idle_motion/stop.json" class="btn btn-primary btn-lg">
        Stop
      </a>
    </p>
  </div>
</div>



